.pagination{
    margin-top: 30px;
}
.pagination_box{
    display: flex;
    justify-content: center;
    align-items: center;
}
.pagination_arrow{
    margin-right: 16px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
.pagination_arrow:not(.disabled):hover{
    opacity: 0.7;
    transform: scale(1.1);
}
.pagination_arrow.disabled{
    cursor: inherit;
    opacity: 0.5;
}
.pagination_arrow-last{
    margin-left: 16px;
    margin-right: 0;
}
.pagination_arrow svg{
    display: block;
    width: auto;
    height: 24px;
}
.pagination_dots{
    margin: 0 8px;
}
.pagination_item{
    display: block;
    width: 24px;
    height: 24px;
    margin: 0 8px;
    background-color: #3597AA;
    color: #ffffff;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
    border-radius: 3px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
.pagination_item:not(.active):hover{
    opacity: 0.7;
    transform: scale(1.1);
}
.pagination_item.active{
    background-color: #ED2E8C;
}